<div class="property-container">
  <button class="back-btn" routerLink="">
    <img src="/assets/Icons/arrow-left.svg" alt="Back" />
  </button>
  <div class="property-layout">
    <!-- LEFT: IMAGE SECTION -->
    <div class="image-section">
      <div class="main-image-container">
        <button class="nav-btn prev" (click)="prevImage()">

          <img src="/assets/Icons/lucide/chevron-left.svg" alt="Previous" />

        </button>

        <img
          [src]="property.thumbnails[currentImageIndex].url"
          [alt]="property.thumbnails[currentImageIndex].alt"
          class="main-image"
        />

        <button class="nav-btn next" (click)="nextImage()">

          <img src="/assets/Icons/lucide/chevron-right.svg" alt="Next" />


        </button>
      </div>

   <div class="thumbnail-gallery">
  <div
    class="thumb"
    *ngFor="let thumb of showAllThumbnails ? property.thumbnails : property.thumbnails.slice(0, 4); let i = index"
    [class.active]="i === currentImageIndex"
    (click)="selectImage(i)"
  >
    <img [src]="thumb.url" [alt]="thumb.alt" />
  </div>

  <!-- show "+N more" only if there are extra thumbnails -->
  <div
    class="thumb more"
    *ngIf="!showAllThumbnails && getRemainingThumbnails() > 0"
    (click)="toggleShowAllThumbnails()"
  >
    <img
      [src]="property.thumbnails[property.thumbnails.length - 1].url"
      [alt]="property.thumbnails[property.thumbnails.length - 1].alt"
    />
    <span class="more-photos">+{{ getRemainingThumbnails() }} more</span>
  </div>
</div>


      <app-reviews></app-reviews>
    </div>

    <!-- RIGHT: DETAILS -->
    <div class="right-side">
      <div class="details-section">
        <h2>{{ property.name }}</h2>
        <p>
          {{ getShortDescription(property.description) }}
          <a href="#" (click)="openModal($event)">View More</a>
        </p>

        <!-- MODAL -->
        <div class="modal-overlay" *ngIf="showModal" (click)="closeModal()">
          <div class="modal-content" (click)="$event.stopPropagation()">
            <div class="modal-header">
              <h3>{{ property.name }}</h3>
              <button class="close-btn" (click)="closeModal()">×</button>
            </div>
            <p>{{ property.description }}</p>
          </div>
        </div>
        <app-property-card></app-property-card>
      </div>
      <app-contact-manager></app-contact-manager>
    </div>
  </div>
</div>
<!-- </div> -->
