<div class="about-page-container">
  <div class="about-container">
    <h1 class="about-title">About SKUATA</h1>
    <p>SKUATA is an innovative solution for affordable housing, designed to make living easier for low-income individuals, students, and minimum wage earners. Are you a property owner looking to list your rental properties? With the SKUATA platform, you can easily advertise your available rooms or units to our growing audience.
       Our platform connects property owners with potential tenants looking for affordable housing. 
       To get started, simply sign up as an advertiser, and post your property with detailed descriptions and images to attract interested renters.</p>

    <p>As a user, you can browse a wide range of affordable housing options and get in touch with advertisers for more information.
       If you're interested in a specific property, our platform allows you to easily reach out to the property owner or advertiser through direct contact options provided on the listing page.
        If you have any questions about the property, you can send inquiries directly to the advertiser or schedule a viewing to see the property in person.
         We're here to make the process of finding a place to live as simple and stress-free as possible.</p>

    <p>Whether you're a property owner or a tenant, we are here to assist. 
      For any questions or further information, feel free to contact our support team or the respective property advertisers via the contact details provided in each listing.
       We are committed to ensuring a smooth and transparent experience for both advertisers and tenants.</p>
  </div>

</div>

