<nav class="top-nav">
  <div class="left">
    <picture>
      <img class="logo" src="/assets/images/Logo-Full.png" alt="UnSKUATA" />
    </picture>
  </div>
  <div class="right">
    <button class="post-button">
      <img src="/assets/images/btn-post.png" alt="Post Button" />
    </button>
    <span class="divider">|</span>
    <img class="icon bell" src="/assets/icons/bell.png" alt="Notifications" />
    <img class="icon profile" src="/assets/images/Profile.png" alt="Profile" />
  </div>
</nav>
