.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  padding: 0 1em;

}
/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  font-family: Barlow, sans-serif;
  box-sizing: border-box;
}

.container section {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.75em;
  background-color: hsl(var(--neutral-00));
  padding: 2.5em;
  border-radius: .35em;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

#logo {
  width: 10em;
}

.container h2 {
  font-weight: 500;
  font-size: 1.8rem;
  margin-top: -.5em;
  text-align: center;
}

.container section img {
  width: 10em;
  margin: 1em auto; /* Changed from -1em to 1em */
  opacity: .75;
}

.container button {
  padding: .85em 0;
  font-size: .9rem;
  font-weight: 500;
  color: hsl(var(--neutral-00));
  border: none;
  border-radius: .2em;
  cursor: pointer;
}

.container button {
  background-color: hsl(var(--primary-900));
  transition: background-color .25s ease-in-out;
  width:90%;
  margin: 0 auto;
  font-size: 1rem;
}

section button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

section button > svg{
  color: hsl(var(--neutral-00));
  fill: hsl(var(--neutral-00));
  stroke: hsl(var(--neutral-00));
  stroke-width: 6px;
}
section svg{
  color: hsl(var(--neutral-00));
  fill: hsl(var(--neutral-00));
  stroke: hsl(var(--neutral-00));
  stroke-width: 6px;
}

.container button:hover {
  background-color: hsl(var(--primary-900) / .8);
}

.container p {
  font-family: Inter, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: hsl(var(--neutral-900));
  width: 95%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    justify-content: flex-start; /* Align content to the top */
  }

  #logo {
    margin: 4em auto 4em auto; /* Increased top margin */
    /* Removed negative margin-top */
  }
  #logo img {
    display: block;
    margin: 0 auto;
    width: 4em; /* Increase logo size */
  }

  .container section {
    /* Removed negative margin-top */
  }
}
