<main class="container">
  <picture id="logo">
    <source media="(max-width: 768px)" srcset="assets/images/mobile-logo.svg">
    <img src="./assets/logo-horizontal.svg" alt="logo image">
  </picture>
  <section>
    <h2>Check your mailbox</h2>
    <img src="./assets/Icons/mailbox.svg" alt="mailbox image">
    <p>
      We have sent an email with instructions and a link to reset your password at <strong>example&#64;hotmail.com</strong>
    </p>
    <button (click)="goToLogin()">
      Return to Login
      <svg width="24px" height="24px">
        <image width="24px" height="24px" href="./assets/Icons/chevron-right.svg" style="fill: rgb(170, 11, 99);"/>
      </svg>
    </button>
  </section>
</main>
