.divider {
  border: none;
  border-top: 1px solid #00000080;
  margin: right ;
  max-width:1600px;
  margin-bottom: 20px; 
   margin: 0 10rem;
}



app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-page {
  flex: 1; 
  display: flex;
  flex-direction: column;
}