/*.divider {
  border: none;
  border-top: 1px solid #00000080;
  margin: right ;
  max-width:1600px;
  margin-bottom: 20px; 
   margin: 0 10rem;
}*/



app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-page {
  flex: 1; 
  display: flex;
  flex-direction: column;
}
.divider {
  border: none;
  border-top: 1px solid #00000080;
  width: calc(100% - 20rem); /* same left+right spacing as 10rem each side */
  max-width: 1600px;
  margin: 0 auto 20px;
}


@media (max-width: 768px) {
  .divider {
    width: calc(100% - 2rem); /* or full width with side margin */
    margin: 0 auto 10px;
  }
}

