.divider {
  border: none;
  border-top: 1px solid #00000080;
  margin: 0.10rem auto;
  max-width: 1600px;
  margin-bottom: 20px; 
}



app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-page {
  flex: 1; 
  display: flex;
  flex-direction: column;
}