.form-sidebar {
  width: 260px;
  padding: 2rem 1.5rem;
  margin-top: 2rem;
  font-family: Barlow;
}

.page-title {
  text-align: left;
  border-bottom: 2px solid #cccccc;
  width: 229px;
  height: 52px;
  opacity: 1;
  font-family: Barlow;
  font-weight: 700;
  font-style: normal;
  font-size: 35px;
  margin-bottom: 0.5rem;
  line-height: 130%;
  letter-spacing: -1px;
}

.error-Icon {
  width: 24px;
  height: 24px;
  margin-bottom: 1rem;
  margin-left: -14rem;
}

.menu-title {
  font-family: Barlow;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: -1px;
  text-align: left;
  margin-bottom: 1rem;
}

.menu-nav {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.menu-item {
  display: block;
  padding: 0.75rem 1rem;
  border-radius: 6px;
  text-decoration: none;
  text-align: left;
  color: #1e293b;
  font-size: 0.9rem;
  transition: background-color 0.2s;
}

.menu-item:hover {
  background-color: #e5e7eb;
}

.menu-item.active {
  font-weight: 600;
  border-left: 3px solid #c18140;
  border-radius: 0%;
  color: #0f172a;
}

.delete-account-btn {

  background: none;

  border: none;

  color: #dc2626;

  font-weight: 500;

  cursor: pointer;

  padding: 0;

  font-size: 0.9rem;

  font-family: Barlow;

}



@media (max-width: 768px) {

  .form-sidebar {

    width: 100%;
    padding-left: 0;

  }

  .error-Icon {
    position: absolute;
    left: 1.5rem;
    top: 6.5rem;
    margin-left: 0;
  }

  .page-title {
    padding-left: 0;
  }

  .delete-account-btn {

    margin-right: 0;

  }

}
