

footer {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1040px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding-bottom: 30px;
  padding: 15px 0;
  text-align: center;
  background-color: #EAEDED; /* Consistent light grey */
  font-size: 12px;
  color: #888;
  margin-top: auto;
}



footer a {
  text-decoration: none;
  color: #115757;
}

.footer-divider {
  width: 100%;
  border: none;
  border-top: 1px solid #7F7E7E;
  margin-bottom: 8px; /* small space before content */
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; /* To move content to the left */
  align-items: center;
  gap: 8px;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.3px;
  color: #263E39;
  padding-left: 20px; /* To move content to the right */
}

.footer-content.centered-content {
  justify-content: center;
  padding-left: 0; /* Remove padding when centered */
}

footer a {
  text-decoration: none;
  color: #263E39;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #115757;
}

@media (max-width: 768px) {
  footer {
    padding: 15px px 30px;
  }

  .footer-content {
    flex-direction: column;
  }

  footer {
    position: absolute;
    width: 252px;
    height: 21px;
    opacity: 1;
    top: 976px;
    left: 72px;
    gap: 8px;
    background-color: #FFFFFF;
  }
}
