<main class="container">
  <div class="header">
    <h1>
      Add Caretaker
    </h1>
    <button><img src="../assets/icons/lucide/x.svg" alt=""></button>
  </div>
  <form>
    <div class="column">
      <div class="group">
        <div>
          <label for="name"> Name</label>
          <input type="text" name="name" placeholder="e.g. John Doe">
        </div>
        <div>
          <label for="email"> Email</label>
          <input type="text" name="email" >
        </div>
        <div>
          <label for="profile-image"> Profile Image</label>
          <input type="file" name="profile-image" >
        </div>
        <div>
          <label for="permission"> Permission</label>
          <select name="permission" id="permission">
            <option value="">Choose Permission</option>
              <option value="permission.toLowerCase()" *ngFor="let permission of permissions">{{permission}}</option>

          </select>
        </div>
      </div>
    </div>
    <div class="button">
      <button>Add Caretaker</button>
    </div>
  </form>

</main>
