<main class="container">
  <img id="logo" src="./assets/logo-horizontal.svg" alt="logo image">
  <section>
    <h2>Check your mailbox</h2>
    <img src="./assets/icons/mailbox.svg" alt="mailbox image">
    <p>
      We have sent an email with instructions and a link to reset your password at <strong>example&#64;hotmail.com</strong>
    </p>
    <button>
      Return to Login
      <svg width="24px" height="24px">
        <image width="24px" height="24px" href="./assets/icons/chevron-right.svg" style="fill: aqua;"/>
      </svg>
    </button>
    <svg width="24px" height="24px">
      <image width="24px" height="24px" href="./assets/icons/vector.svg" style="stroke: aqua;"/>
    </svg>
  </section>
</main>
