.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  padding: 0 1em;
}

.container section {
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.75em;
  background-color: hsl(var(--neutral-00));
  padding: 2.5em;
  border-radius: .35em;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

#logo {
  width: 8em;
}

.container h2 {
  font-weight: 500;
  font-size: 2rem;
  margin-top: -.5em;
}

.container button {
  padding: .85em 0;
  font-size: .85rem;
  font-weight: 500;
  color: hsl(var(--neutral-00));
  border: none;
  border-radius: .2em;
  cursor: pointer;
}

.container button {
  background-color: hsl(var(--primary-900));
  transition: background-color .25s ease-in-out;
}

.container button:hover {
  background-color: hsl(var(--primary-900) / .8);
}
