.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  padding: 0 1em;
}

.container section {
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.75em;
  background-color: hsl(var(--neutral-00));
  padding: 2.5em;
  border-radius: .35em;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

#logo {
  width: 8em;
}

.container h2 {
  font-weight: 500;
  font-size: 1.8rem;
  margin-top: -.5em;
}

.container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  gap: .95em;
  width: 80%;
}
.container form > .buttons {
  display: flex;
  flex-direction: column;
  gap: .45em;
}

form input {
  background-color: hsl(var(--primary-100));
  padding: .8em .5em;
  border-radius: .2em;
  border: 1px solid hsl(var(--neutral-600));
  font-size: .9rem;
}

.container button {
  padding: .85em 0;
  font-size: .9rem;
  font-weight: 500;
  color: hsl(var(--neutral-00));
  border: none;
  border-radius: .2em;
  cursor: pointer;
}

.container form button:first-child {
  background-color: hsl(var(--primary-900));
  transition: background-color .25s ease-in-out;
}

.container form button:first-child:hover {
  background-color: hsl(var(--primary-900) / .8);

}

.container form button:last-child {
  background-color: transparent;
  border: solid hsl(var(--primary-900));
  color: hsl(var(--primary-900));
  transition: background-color .25s ease-in-out;
}

.container form button:last-child:hover {
  background-color: hsl(var(--secondary-300) / .8);
}

.inputs {
  position: relative;

}

.inputs input {
  width: 100%;
  padding-left: 2.3em;

}

.input-icon {
  position: absolute;
  top: .65em;
  left: .4em;
  color: hsl(var(--primary-300));

}

.icon-color {
  filter: brightness(0) saturate(100%) invert(59%) sepia(10%) saturate(346%) hue-rotate(120deg) brightness(96%) contrast(86%);
}

.error {
  font-size: .85rem;
  color: hsl(var(--danger));
  font-family: Inter, sans-serif;
  font-weight: 600;
}

.error div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: .25em;
}

form  #submit:disabled {
  background-color: hsl(var(--neutral-300));
  cursor: not-allowed;
}
