<main class="container">
  <img id="logo" src="./assets/logo-horizontal.svg" alt="logo image">
  <section>
    <h2>Reset Password</h2>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" >
      <div class="inputs">
        <input
          type="email"
          name="email"
          formControlName="email"
          [class.error]="email?.touched && email?.invalid" placeholder="Email address..."
          autocomplete="off"
        />
        <img
          src="../../../assets/icons/lucide/at-sign.svg" alt="at-sign icon" class="input-icon icon-color">
        @if(email?.touched && email?.invalid) {
          <div class="error">
            @if(email?.errors?.['required']){
              <div>Email is required</div>
            } @else if(email?.errors?.['email']){
              <div>
                Invalid email format
              </div>
            }
          </div>
        }
      </div>
      <div class="buttons">
        <button id="submit" type="submit" [disabled]="resetPasswordForm.invalid" routerLink="/check-inbox">Continue</button>
        <button routerLink="/">Back</button>
      </div>
    </form>
  </section>
</main>


