<main class="container">
  <div class="header">
    <h3>Contact Manager</h3>
    @if(!showPhoneNumber){
      <button (click)="seePhoneNumber()"> <lucide-angular name="phone" class="icon-button" [size]="18"></lucide-angular>Show Phone Number</button>
    } @else {
      <button (click)="seePhoneNumber()"> <lucide-angular name="phone" class="icon-button" [size]="18"></lucide-angular>+27 81 834 8593</button>
    }
  </div>
  <form [formGroup] = "contactManagerForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <div>
      <label for="name">Your Name</label>
      <input type="text" name="name" autocomplete="off" formControlName="name" [class.error]="name?.touched && name?.invalid"/>
      <lucide-angular name="user-round" class="input-icon"></lucide-angular>
      @if(name?.invalid && name?.touched) {
        <div class="error">
          @if(name?.errors?.['required']){
            <div>Name is required</div>
          } @else if (name?.errors?.['minlength']){
            <div>Name is required at least 3 characters</div>
          }

        </div>
      }
    </div>
    <div>
      <label for="email">Your Email</label>
      <input type="email" name="email" autocomplete="off" formControlName="email" [class.error]="email?.touched && email?.invalid" />
      <lucide-angular name="at-sign" class="input-icon"></lucide-angular>
      @if(email?.touched && email?.invalid) {
        <div class="error">
          @if (email?.errors?.['required']) {
            <div>Email is required</div>
          } @else if (email?.errors?.['email']){
            <div>
              Invalid email format
            </div>
          }
        </div>
      }
    </div>
    <div>
      <label for="number">Your Phone Number</label>
      <input type="tel" name="phoneNumber" formControlName="phoneNumber" [class.error]="phoneNumber?.touched && phoneNumber?.invalid" pattern="^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$"/>
      <lucide-angular name="phone" class="input-icon"></lucide-angular>
      @if (phoneNumber?.invalid && phoneNumber?.touched){
        <div class="error">
          @if (phoneNumber?.errors?.['required']) {
            <div>Phone Number is required</div>
          } @else if (phoneNumber?.errors?.['pattern']) {
            <div>
              Invalid phone number format
            </div>
          } @else if (phoneNumber?.errors?.['maxlength']){
            <div>
              Phone number cannot exceed 10 characters
            </div>
          }
        </div>
      }
    </div>
    <div>
      <label for="message">Message</label>
      <textarea name="message" id="" rows="4" autocomplete="off" formControlName="message" [class.error]="message?.touched && message?.invalid">
      </textarea>
      <lucide-angular name="message-square" class="textarea-icon"></lucide-angular>
      @if (message?.invalid && message?.touched) {
        <div class="error">
          @if (message?.errors?.['required']){
            <div>Your message is required</div>
          }
          @if (message?.errors?.['minlength']){
            <div>Message must be at least 10 characters</div>
          } @else if (message?.errors?.['maxlength']){
            <div>Message cannot exceed 255 characters</div>
          }
            </div>
          }
      </div>
    <button type="submit" [disabled]="contactManagerForm.invalid"> <lucide-angular name="mail" class="button-icon" [size]="18"></lucide-angular> Send Message</button>

  </form>
</main>
