.container {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 1em;
  gap: 1em;
  background-color: hsl(var(--neutral-00));
  border-radius: .3em;
  text-align: left;
}

.header {
  width: 100%;

}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

form div {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-self: flex-end;
  gap: .35em;
  margin-bottom: .25em;

}

.input-icon {
  position: absolute;
  top: 2em;
  left: .3em;
  color: hsl(var(--primary-300));
}

.textarea-icon {
  position: absolute;
  top: 25%;
  left: 3%;
  color: hsl(var(--primary-300));
}

textarea {
  width: 100%;
  padding: .75em .5em .75em 2.5em;
  border: none;
  border-radius: .25em;
  background-color: hsl(var(--primary-100));
  font-family: Inter, sans-serif;
  font-size: .9rem;
  color: hsl(var(--neutral-900));
  margin-bottom: 1em;
  resize: none;
}

input {
  width: 100%;
  padding: .75em .5em .75em 2.5em;
  border: none;
  border-radius: .25em;
  background-color: hsl(var(--primary-100));
  font-family: Inter, sans-serif;
  font-size: .9rem;
  color: hsl(var(--neutral-900));
  margin-bottom: 1em;
  resize: none;
}

input:focus {
  border: 2px solid hsl(var(--secondary-300));
  outline: none;
}
textarea:focus {
  border: 2px solid hsl(var(--secondary-300));
  outline: none;
}

label {
  font-weight: 500;
  font-size: .8rem;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: .5em 3.5em;
  border: none;
  border-radius: .25em;
  font-size: .9rem;
  font-weight: 500;
  color: hsl(var(--neutral-00));
  background-color: hsl(var(--primary-900));
  transition: background-color .25s ease-in-out;
  cursor: pointer;
  margin: 1em 0 0;
  width: 100%;
}

button:hover {
  background-color: hsl(var(--primary-600));
}

form button:disabled {
  background-color: hsl(var(--neutral-300));
  cursor: not-allowed;
}

.error {
  font-size: .75rem;
  color: hsl(var(--danger));
  font-family: Inter, sans-serif;
  font-weight: 600;
  margin-top: -1.3em;
}

.error div {
  margin: .5em 0;
}
