<main class="container">
  <div class="header">
    <h3>Contact Manager</h3>

      <button (click)="seePhoneNumber()" *ngIf="!showPhoneNumber"> Show Phone Number</button>

      <button (click)="seePhoneNumber()" *ngIf="showPhoneNumber"> <img src="../../../assets/icons/phone.svg" alt="user icon" class="icon-color"> +27 81 834 8593</button>

  </div>
  <form [formGroup] = "contactManagerForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="form-group">
      <label for="name">Your Name</label>
      <input type="text" name="name" autocomplete="off" formControlName="name" [class.error]="name?.touched && name?.invalid"/>
      <img src="../../../assets/icons/lucide/user-round.svg" alt="user icon" class="input-icon icon-color">

        <div class="error" *ngIf="name?.invalid && name?.touched">
            <div *ngIf="name?.errors?.['required']">Name is required</div>
            <div *ngIf="name?.errors?.['minlength']">Name is required at least 3 characters</div>
        </div>

    </div>
    <div class="form-group">
      <label for="email">Your Email</label>
      <input type="email" name="email" autocomplete="off" formControlName="email" [class.error]="email?.touched && email?.invalid" />
      <img src="../../../assets/icons/lucide/at-sign.svg" alt="at-sign icon" class="input-icon icon-color">

      @if(email?.touched && email?.invalid) {
        <div class="error">
          @if (email?.errors?.['required']) {
            <div>Email is required</div>
          } @else if (email?.errors?.['email']){
            <div>
              Invalid email format
            </div>
          }
        </div>
      }
    </div>
    <div class="form-group">
      <label for="number">Your Phone Number</label>
      <input type="tel" name="phoneNumber" formControlName="phoneNumber" [class.error]="phoneNumber?.touched && phoneNumber?.invalid" pattern="^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$"/>
      <img src="../../../assets/icons/phone.svg" alt="phone icon" class="input-icon icon-color">
      @if (phoneNumber?.invalid && phoneNumber?.touched){
        <div class="error">
          @if (phoneNumber?.errors?.['required']) {
            <div>Phone Number is required</div>
          } @else if (phoneNumber?.errors?.['pattern']) {
            <div>
              Invalid phone number format
            </div>
          } @else if (phoneNumber?.errors?.['maxlength']){
            <div>
              Phone number cannot exceed 10 characters
            </div>
          }
        </div>
      }
    </div>
    <div class="form-group">
      <label for="message">Message</label>
      <textarea name="message" id="" rows="4" autocomplete="off" formControlName="message" [class.error]="message?.touched && message?.invalid">
      </textarea>
      <img src="../../../assets/icons/lucide/message-square.svg" alt="user icon" class="input-icon icon-color">
      @if (message?.invalid && message?.touched) {
        <div class="error">
          @if (message?.errors?.['required']){
            <div>Your message is required</div>
          }
          @if (message?.errors?.['minlength']){
            <div>Message must be at least 10 characters</div>
          } @else if (message?.errors?.['maxlength']){
            <div>Message cannot exceed 255 characters</div>
          }
            </div>
          }
      </div>
    <button type="submit" [disabled]="contactManagerForm.invalid"> <img src="../../../assets/icons/lucide/mail.svg" alt="user icon" class="icon-color"> Send Message</button>

  </form>
</main>
