.page-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: #EAEDED;
}

.full-page-wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  flex-grow: 1;
}

.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 140px 20px 20px 20px;
  box-sizing: border-box;
  flex-grow: 1;
}

.signup-header {
  width: 100%;
  max-width: 1440px;
  display: flex;
  padding: 0 200px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .signup-header {
    padding: 0 20px;
    top: 20px;
  }
}

.logo-full {
  width: 166px;
  height: 36px;
  margin-bottom: 20px;
}

.signup-box,
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
  max-width: 702px;
  flex-shrink: 1;
  min-height: 200px;
}

h2,
.form-title {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 150%;
  text-align: center;
  letter-spacing: -0.3px;
  color: #292828;
  margin: 0 0 20px 0;
}

.choice-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  gap: 32px;
  width: 100%;
}

@media (max-width: 768px) {
  .choice-cards {
    flex-direction: column;
    gap: 16px;
  }

  .choice-card {
    width: 100%;
  }

  .choice-card p {
    font-size: 20px;
  }
}

.choice-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 11px 16px;
  gap: 16px;
  max-width: 330px;
  width: 100%;
  height: 180px;
  background: #FFFFFF;
  box-shadow: 0px 1px 4px rgba(12, 12, 13, 0.05);
  border-radius: 4px;
  border: 2px solid transparent;
  cursor: pointer;
}

.choice-card.selected {
  border: 2px solid #F2A250;
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 0;
}

.choice-card .Icon {
  font-size: 24px;
  color: #7F7E7E;
}

.card-divider {
  width: 100%;
  border: none;
  border-top: 1px solid #7F7E7E;
  margin: 0;
}

.choice-card p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 160%;
  letter-spacing: -0.5px;
  color: #292828;
  margin: 0;
}

.choice-card .highlight {
  font-weight: bold;
  color: #F2A250;
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  width: 24px;
  height: 24px;
  border: 2.5px solid #263E39;
  border-radius: 50%;
  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  background-color: #F2A250;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

input[type="radio"]:focus {
  outline: 2px solid #F2A250;
  outline-offset: 2px;
}

.signup-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 282px;
}

.signup-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 8px;
  width: 282px;
  height: 48px;
  background: #263E39;
  border-radius: 4px;
  border: none;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #EAEDED;
  cursor: pointer;
}

.login-link {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: #7F7E7E;
}

.login-link a {
  color: #F2A250;
  text-decoration: underline;
}

.role-error-message {
  color: red;
  font-size: 0.9rem;
  margin-top: 10px;
}



.header-logo {
  position: absolute;
  top: 56px;
  left: 200px;
}

.header-logo img {
  width: 166px;
  height: 36px;
}



@keyframes dissolve {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .header-logo {
    left: 16px;
  }

  .header-logo img {
    width: 48px;
    height: 36px;
  }

  .form-container {
    width: 100%;
    padding: 24px;
    height: auto;
    gap: 10px;
  }

  .form-group {
    gap: 5px;
  }

  .page-layout {
    background-color: #FFFFFF;
  }
}



.header-logo-full {
  width: 166px;
  height: 36px;
  position: absolute;
  top: 56px;
  left: 200px;
  opacity: 1;
}
