<div class="page-layout">
  <div class="signup-container">
    <div class="full-page-wrapper" >
      <header class="signup-header">
        <div class="header-icon">
          <picture class="header-logo">
            <source media="(max-width: 768px)" srcset="assets/images/mobile-logo.png">
            <img src="assets/images/Logo-Full.png" alt="Full Logo">
          </picture>
        </div>
      </header>

      <main class="signup-box">
        <h2>Sign up as renter or property owner</h2>

        <div class="choice-cards">
          <div class="choice-card" [class.selected]="selectedRole === 'renter'" (click)="selectRole('renter')">
            <div class="card-header">
              <img src="assets/bed.png" alt="Bed icon" class="icon">
              <input type="radio" name="role" [checked]="selectedRole === 'renter'">
            </div>
            <hr class="card-divider">
            <p>I am a <span class="highlight">renter</span>, looking for a <span class="highlight">room to rent</span>.</p>
          </div>

          <div class="choice-card" [class.selected]="selectedRole === 'owner'" (click)="selectRole('owner')">
            <div class="card-header">
              <img src="assets/Icons/user-round.png" alt="User icon" class="icon">
              <input type="radio" name="role" [checked]="selectedRole === 'owner'">
            </div>
            <hr class="card-divider">
            <p>I am a <span class="highlight">property owner</span>, looking for <span class="highlight">people to rent</span>.</p>
          </div>
        </div>

        <button class="signup-btn" (click)="onSignUp()">Sign Up</button>

        <div *ngIf="showRoleError" class="role-error-message">
          Please select Renter or Property Owner.
        </div>

        <div class="login-link">
          <span>Already have an account? <a href="auth/login">Login</a></span>
        </div>
      </main>
    </div>

    