.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  padding: 0 1em;
}

/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  font-family: Barlow, sans-serif;
  box-sizing: border-box;
}

.container section {
  width: 100%;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.75em;
  background-color: hsl(var(--neutral-00));
  padding: 3em; /* Increased from 2.5em */
  border-radius: .35em;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

#logo {
  width: 11m;
}

.container h2 {
  font-weight: 500;
  font-size: 1.8rem;
  margin-top: -.5em;
  align-self: center;
}

.container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  gap: .95em;
  width: 80%;
}
.container form > .buttons {
  display: flex;
  flex-direction: column;
  gap: .45em;
}

.input-group {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.input-icon {
  position: absolute;
  left: 10px;
  width: 20px;
  height: 20px;
  fill: orange;
}

.container form .input-group input {
  background-color: hsl(var(--primary-100));
  padding: .8em .5em .8em 35px; /* Adjusted padding */
  border-radius: .2em;
  border: 1px solid hsl(var(--neutral-600));
  font-size: .9rem;
  width: 100%;
}



.container button {
  padding: .85em 0;
  font-size: .9rem;
  font-weight: 500;
  color: hsl(var(--neutral-00));
  border: none;
  border-radius: .2em;
  cursor: pointer;
  display: flex; /* Added */
  align-items: center; /* Added */
  justify-content: center; /* Added */
  gap: .5em; /* Added */
}

.container button svg { /* Added */
  fill: currentColor; /* Added */
}


.container form button:first-child {
  background-color: hsl(var(--primary-900));
  transition: background-color .25s ease-in-out;
}

.container form button:first-child:hover {
  background-color: hsl(var(--primary-900) / .8);

}
.input-icon{
filter: brightness(0) saturate(100%) invert(54%) sepia(55%) saturate(517%) hue-rotate(349deg) brightness(90%) contrast(84%);
}



.container form button:last-child {
  background-color: transparent;
  border: solid hsl(var(--primary-900));
  color: hsl(var(--primary-900));
  transition: background-color .25s ease-in-out;
}

.container form button:last-child:hover {
  background-color: hsl(var(--secondary-300) / .8);
}

.error-message {
  color: red;
  font-size: 13px;
  text-align: left;
  margin-bottom: 12px;
}

@media (max-width: 768px) {
  #logo {
    width: 100%;
    text-align: center; /* Added to center the image inside picture */
    margin-top: -6em; /* Move logo further upwards */
    margin-bottom: 6em; /* Further increase gap below logo */
  }

  #logo img { /* Added to center the image inside picture */
    margin: 0 auto;
    width: 4em; /* Further reduce logo size */
  }

  .container section {
    margin-top: -4em; /* Move container section upwards */
  }
}
