<main class="container">
  <picture id="logo">
    <source media="(max-width: 768px)" srcset="assets/images/mobile-logo.svg">
    <img src="./assets/logo-horizontal.svg" alt="logo image">
  </picture>
  <section>
    <h2>Reset Password</h2>
    <form #feedbackForm="ngForm" (ngSubmit)="onSubmit(feedbackForm)">
      <div class="input-group">
        <img src="assets/Icons/at-sign.svg" alt="at-sign" class="input-icon">
        <input
          type="email"
          name="email"
          [(ngModel)]="feedback.email"
          #emailField="ngModel"
          placeholder="Email address..."
          required
          email
        >
      </div>
      <div *ngIf="emailField.invalid && emailField.touched" class="error-message">
        <small *ngIf="emailField.errors?.['required']">Email is required.</small>
        <small *ngIf="emailField.errors?.['email']">Please enter a valid email address.</small>
      </div>
      <div class="buttons">
        <button type="submit">
          Continue
          <svg width="24px" height="24px">
            <image width="24px" height="24px" href="./assets/Icons/chevron-right.svg"/>
          </svg>
        </button>
        <button class="back-button" (click)="goBackToLogin()">
          <svg width="24px" height="24px">
            <image width="24px" height="24px" href="./assets/Icons/chevron-left.svg"/>
          </svg>
          Back
        </button>
      </div>
    </form>
  </section>
</main>


