<div class="listings-container">
  <app-filter (filtersChanged)="onFiltersChanged($event)"></app-filter>

  <div class="properties-grid">
    <div
      class="property-card"
      *ngFor="let property of visibleProperties"
      (click)="viewDetails()"
    >
      <div class="property-image">
        <img [src]="property.image" [alt]="property.title" />
      </div>

      <div class="property-content">
        <div class="property-header">
          <h3 class="property-title">{{ property.title }}</h3>
          <div class="property-actions">
            <button
              class="Icon-button-small favorite-button"
              [class.active]="property.isFavorite"
              (click)="toggleFavorite(property)"
              aria-label="Add to favorites"
            >
              <img [src]="'assets/Icons/heart-ico.svg'" />
            </button>
          </div>
        </div>

        <div class="property-address">
          <div class="address-content">
            <img [src]="'assets/Icons/map-pin.png'" />
            <span>{{ property.address }}</span>
          </div>
        </div>

        <div class="property-status">
          <span
            class="availability-badge"
            [class.available]="property.availability === 'available'"
            [class.unavailable]="property.availability === 'unavailable'"
          >
            {{
              property.availability === "available"
                ? "Available"
                : "Unavailable"
            }}
          </span>
          <a class="view-details-link" (click)="viewDetails()">View Details</a>
        </div>

        <div class="property-details">
          <div class="property-price">R {{ property.price }}/mo</div>
          <div class="property-type">
            <img [src]="property.roomIcon" [alt]="property.title" />
            <span>{{ property.type }}</span>
          </div>
        </div>

        <div class="property-meta">
          <div class="meta-item" *ngIf="property.availabilityDate">
            <img [src]="'assets/Icons/calendar-check-2.png'" />
            <span>Availability: {{ property.availabilityDate }}</span>
          </div>

          <div class="meta-item">
            <img [src]="'assets/Icons/eye.png'" />
            <span>{{ property.views }} views</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="pagination-buttons">
    <button
      class="btn-find filter-buttons"
      *ngIf="currentPage > 1"
      (click)="loadPrevious()"
    >
      Previous
      <!-- <app-loader-btn
        [active]="loading && loadingButton === 'previous'"
      ></app-loader-btn>-->
    </button>

    <button
      class="btn-find filter-buttons"
      (click)="loadMore()"
      *ngIf="currentPage * itemsPerPage < filteredProperties.length"
    >
      Load More
    </button>
  </div>

  <app-dash-footer></app-dash-footer>
</div>
