<main>
  <h1>Rate and share your feedback!</h1>
  <p>Tell us what you think about this property...</p>

  <form  (ngSubmit)="onSubmit()">
    <div class="star-container">
      <img (click)="setRating(1)" class="star" [class.rated]="rating  >= 1" src="../../../assets/icons/lucide/star.svg" alt="rating star">
      <img (click)="setRating(2)" class="star" [class.rated]="rating  >= 2" src="../../../assets/icons/lucide/star.svg" alt="rating star">
      <img (click)="setRating(3)" class="star" [class.rated]="rating  >= 3" src="../../../assets/icons/lucide/star.svg" alt="rating star">
      <img (click)="setRating(4)" class="star" [class.rated]="rating  >= 4" src="../../../assets/icons/lucide/star.svg" alt="rating star">
      <img (click)="setRating(5)" class="star" [class.rated]="rating  >= 5" src="../../../assets/icons/lucide/star.svg" alt="rating star">

      <div class="star-counter">
        {{rating}}
      </div>
    </div>
    <div class="form-group">
      <label for="review">Write a review:</label>
      <textarea name="review" id="" rows="8"></textarea>
      <img src="../../../assets/icons/lucide/message-square-more.svg" alt="user icon" class="input-icon icon-color">
    </div>

    <button type="submit"> <img src="../../../assets/icons/lucide/message-square-more.svg" alt="user icon" class="icon-color">
      Rate & Review
    </button>
  </form>
</main>
