.modal-overlay {
  position: fixed; /* Important for full screen */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center; /* Changed to center */
  z-index: 1000;
}

.container {
  overflow-y: auto !important;
  background-color: white;
  padding: 2rem 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  max-width: 600px;
  width: 100%;
  height: auto; /* Changed to auto */
 
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .modal-overlay {
    align-items: flex-start; /* Align to top on smaller screens */
  }

  .container {
    width: 95%; /* Take up more width */
    min-height: 100%; /* Take up more height */
    margin: 1em auto; /* Add some top margin and center horizontally */
    border-radius: 0; /* Remove border-radius for full screen effect */
  }
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.modal-header h2 {
  margin: 0;
}

.close-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-body {
  flex-grow: 1;
  overflow-y: auto;
}
