<div class="listings-container">
  <app-filter
    [showFilterButton]="false"
    (filtersChanged)="onFiltersChanged($event)"
  ></app-filter>

  <div class="properties-grid">
    <div
      class="property-card"
      *ngFor="let property of visibleProperties"
      (click)="viewDetails(property)"
    >
      <div class="property-image">
        <img [src]="property.image" [alt]="property.title" />
      </div>

      <div class="property-content">
        <div class="property-header">
          <h3 class="property-title">{{ property.title }}</h3>
          <div class="property-actions">
            <span class="badge edit" (click)="editRoom(property)">
              <img [src]="'assets/Icons/lucide/pen-line.svg'"  class="pen-line"/> Edit
            </span>

            <span class="badge remove">
              <img [src]="'assets/Icons/lucide/trash-2.svg'" class="trash-can"/> Remove</span
            >
          </div>
        </div>

        <div class="property-address">
          <img [src]="'assets/Icons/lucide/map-pin.svg'" />
          <span>{{ property.address }}</span>
        </div>

        <div class="property-status">
          <span
            class="availability-badge"
            [class.available]="property.availability === 'available'"
            [class.unavailable]="property.availability === 'unavailable'"
          >
            {{
              property.availability === "available"
                ? "Available"
                : "Unavailable"
            }}
          </span>
          <div class="details-switch">
            <label class="flat-switch" (click)="$event.stopPropagation()">
              <input type="checkbox" (change)="toggleActive(property)" />
              <span class="flat-slider"></span>
            </label>
          </div>
        </div>
        <div
          class="property-details"
          [class.unavailable-text]="property.availability === 'unavailable'"
        >
          <div class="property-price">R {{ property.price }}/mo</div>
          <div class="meta-item">
            <img [src]="'assets/Icons/lucide/eye.svg'" />
            <span>{{ property.views }} views</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
